@import "tailwindcss";

:root {
  /* 🔵 BASE */
  --primary-blue: #0B2A4A;
  --primary-blue-strong: #071F36;

  /* 🟢 AÇÃO */
  --accent-green: #00C853;
  --accent-green-hover: #00A844;

  /* ⚪ NEUTRO */
  --neutral-white: #FFFFFF;
  --neutral-gray: #E5E7EB;

  /* 📝 TEXTO */
  --text-dark: #0F172A;
  --text-light: #64748B;
}

/* RESET BASE */
body {
  background: var(--primary-blue);
  color: var(--neutral-white);
  font-family: Arial, Helvetica, sans-serif;
}